li > p:hover
{
    color: purple;
}

h5 + p:hover
{
    color: purple;
}

li:nth-child(even)
{
    color: red;
}

li:nth-child(odd)
{
    color: blue;
}

h1
{
    color: purple;
}

h2,h3,h4,h5,h6
{
    color: green;
}

h5 + p
{
    color: rgb(255, 0, 191);
}